<h1>New User Signup</h1>

<%if flash[:notice]%>
<%=flash[:notice]%>
<%end%>


<%=form_for @user do |f| %>
Name:<%=f.text_field :name %><br>
Password<%=f.password_field :password %><br>
Re-enter password:<%=f.password_field :password_confirmation %>
<%=f.submit%>
<%end%>
